{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Maintenance Requests</title>
        <link rel="stylesheet" href="{% static 'dash_site/css/styles.css' %}">
        <!-- <link rel="icon" href="./favicon.ico" type="image/x-icon"> -->
    </head>
    
    <body>
        {% include '../components/header.html' %}

        <main id="maintenance-page">
            <h2>Submit a Maintenance Request</h2>
        </main>

        {% include '../components/footer.html' %}

        <!-- <script src="index.js"></script> -->

    </body>
</html>