{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Dashboard</title>
        <link rel="stylesheet" href="{% static 'dash_site/css/styles.css' %}">
        <!-- <link rel="icon" href="./favicon.ico" type="image/x-icon"> -->
    </head>

    <body>
        {% include '../components/header.html' %}
        
        <main class="user-page">
            <h2>Dashboard</h2>

            <section id="dashboard-summary-main">
                <div id="dashboard-income-summary" class="dashboard-summary-subsection">
                    <h3>Recent Income</h3>
                    <ul>
                    {% for income in income_all|slice:":5" %}
                        <li>
                            {{ income }}
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                
                <div id="dashboard-expense-summary" class="dashboard-summary-subsection">
                    <h3>Recent Expenses</h3>
                    <ul>
                    {% for expense in expense_all|slice:":5" %}
                        <li>
                            {{ expense }}
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </section>

            <section id="dashboard-visualizations">
                <h3>Analytics</h3>
                <h4>Expenses Over Time</h4>
                <div>
                    <img src="data:image/png;base64,{{ expense_graph }}" alt="Expense Trends Graph">
                </div>
            </section>

        </main>
        
        <script>
            
        </script>

        {% include '../components/footer.html' %}
    </body>
</html>