{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Finances by Month</title>
        <link rel="stylesheet" href="{% static 'dash_site/css/styles.css' %}">
        <!-- <link rel="icon" href="./favicon.ico" type="image/x-icon"> -->
    </head>

    <body>
        <main class="user-page">
            <h1>Finances by Month</h1>
            <p>Welcome, {{ user.first_name }}!</p>

            <section class="nav-option-btn-section">
                <ul class="nav-option-btn-ul">
                    <li class="nav-option-btn"><a href="{% url 'dashboard' %}"><button>Dashboard Home</button></a></li>
                    <li class="nav-option-btn"><a href="{% url 'finance_month' yr=default_year month=default_month %}"><button>Finances by Month</button></a></li>
                    <li class="nav-option-btn"><a href="{% url 'finance_unit' yr=default_year %}"><button>Finances by Unit</button></a></li>
                    <li class="nav-option-btn"><a href="{% url 'finance_month' yr=default_year month=default_month %}"><button>+New Income</button></a></li>
                    <li class="nav-option-btn"><a href="{% url 'finance_unit' yr=default_year %}"><button>Export Data</button></a></li>
                    <!-- <li class="nav-option-btn"><button>Tenant Details</button></li> -->
                    <!-- <li class="nav-option-btn"><button>Resources</button></li> -->
                </ul>
            </section>

            <section id="all-finances">
                <div id="finance-month-nav">
                    <!-- Dropdown menu for years -->
                    <button onclick="changeYear(-1)">Previous Year</button>
                    <select id="year-list" onchange="fetchMonthData()">
                        {% for year in available_years %}
                            <option value="{{ year }}"{% if selected_year == year %}selected{% endif %}>{{ year }}</option>
                        {% endfor %}
                    </select>
                    <button onclick="changeYear(1)">Next Year</button>

                    <!-- Dropdown menu for months -->
                    <button onclick="changeMonth(-1)">Previous Month</button>
                    <select id="month-list" onchange="fetchMonthData()">
                        {% for month in available_months %}
                            <option value="{{ month }}" {% if selected_month == month %}selected{% endif %}>{{ month }}</option>
                        {% endfor %}
                    </select>
                    <button onclick="changeMonth(1)">Next Month</button>
                </div>
                
                <div id="finance-month-tables">
                    
                    <!-- Display Income Data for Selected Month and Year -->
                    <h3>Income</h3>
                    <table id="income-by-month" class="all-finances-by-month">
                        <thead>
                            <tr>
                                <th>Income ID #</th>
                                <th>Unit</th>
                                <th>Amount</th>
                                <th>Date</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for income in finance_month_data.income_data %}
                                <tr id="income-row-{{ income.income_id }}">
                                    <td>{{ income.income_id }}</td>
                                    <td>{{ income.unit_id }}</td>
                                    <td>{{ income.income_amt }}</td>
                                    <td>{{ income.income_date }}</td>
                                    <td><button class="update-row-btn" onclick="updateIncome('{{ income.income_id }}')">Update</button></td>
                                    <td><button class="delete-row-btn"  data-income-id="{{ income.income_id }}" data-id-type="income" onclick="deleteIncome('{{ income.income_id }}')">Delete</button></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <button id="add-income-btn" onclick="displayAddIncome()">Add Income</button>

                    <div id="update-income-display">
                        <h4>Update Income</h4>
                        <form id="update-income-form" method="POST" action="">
                            {% csrf_token %}
                            {{ update_income_form.as_p }}
                            <button type="submit">Submit</button>
                        </form>
                    </div>

                    <div id="delete-income-display">
                        <h4>Confirm Delete</h4>
                        <form id="delete-income-form" method="POST" action="">
                            {% csrf_token %}
                            {{ delete_income_form.as_p }}
                            <p>Are you sure you want to delete this data?</p>
                            <button type="submit">Delete</button>
                            <button type="button" id="cancel-delete-btn" onclick="">Cancel</button>
                        </form>
                    </div>

                    <div id="add-income-display">
                        <h4>Add New Income</h4>
                        <form id="add-income-form" method="POST">
                            {% csrf_token %}
                            {{ add_income_form.as_p }}
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                    
                    
                    <!-- Display Expense Data for Selected Month and Year -->
                    <h3>Expenses</h3>
                    <table id="expense-by-month" class="all-finances-by-month">
                        <thead>
                            <tr>
                                <th>Expense ID #</th>
                                <th>Unit</th>
                                <th>Expense Type</th>
                                <th>Amount</th>
                                <th>Date</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for expense in finance_month_data.expense_data %}
                                <tr id="expense-row-{{ expense.exp_id }}">
                                    <td>{{ expense.exp_id }}</td>
                                    <td>{{ expense.unit_id }}</td>
                                    <td>{{ expense.exp_name }}</td>
                                    <td>{{ expense.exp_amt }}</td>
                                    <td>{{ expense.exp_date }}</td>
                                    <td><button class="update-row-btn" onclick="updateExpense('{{ expense.exp_id }}')">Update</button></td>
                                    <td><button class="delete-row-btn" data-expense-id="{{ income.income_id }}" data-id-type="income" onclick="deleteExpense('{{ expense.exp_id }}')">Delete</button></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <button id="add-expense-btn" onclick="displayAddExpense()">Add Expense</button>

                    <div id="update-expense-display">
                        <h4>Update Expense</h4>
                        <form id="update-expense-form" method="post" enctype="multipart/form-data" action="">
                            {% csrf_token %}
                            {{ update_expense_form.as_p }}
                            <button type="submit">Submit</button>
                        </form>
                    </div>

                    <div id="delete-expense-display">
                        <h4>Confirm Delete</h4>
                        <form id="delete-expense-form" method="POST" action="">
                            {% csrf_token %}
                            {{ delete_expense_form.as_p }}
                            <p>Are you sure you want to delete this data?</p>
                            <button type="submit">Delete</button>
                            <button type="button" id="cancel-delete-btn" onclick="">Cancel</button>
                        </form>
                    </div>

                    <div id="add-expense-display">
                        <h4>Add New Expense</h4>
                        <form id="add-expense-form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ add_expense_form.as_p }}
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                    
                </div>
            </section>
        </main>

        <footer>&copy; 2024 C. R.</footer>
        
        <script>

            // Add event listener to all delete buttons
            const deleteButtons = document.querySelectorAll('.delete-row-btn');
            deleteButtons.forEach(button => {
                button.addEventListener('click', function() {
                    const idType = this.dataset.idType;
                    const id = this.dataset.id;
                    const confirmation = confirm('Do you want to delete this row?');
                    if (confirmation) {
                        deleteRow(idType, id);
                    }
                });
            });

            // Get the cancel button
            const cancelButton = document.getElementById('cancel-delete-btn');

            // Add event listener to cancel button
            cancelButton.addEventListener('click', function() {
                // Reset the form fields
                const form = document.getElementById('delete-income-form');
                form.reset();
            });

            // Update displayed data based on Month + Year selection
            function fetchMonthData() {
                var year_option = document.getElementById('year-list').value;
                var month_option = document.getElementById('month-list').value;

                // URL pattern for fetching data
                window.location.href = `/finance_month/${year_option}/${month_option}/`;
            }
        
            // Update Year value selected from dropdown menu
            function changeYear(offset) {
                var yearSelect = document.getElementById('year-list');
                var currentYear = parseInt(yearSelect.value);
                yearSelect.value = currentYear + offset;
                fetchMonthData();
            }

            // Update Month value selected from dropdown menu
            function changeMonth(offset) {
                var monthSelect = document.getElementById('month-list');
                var currentMonth = parseInt(monthSelect.value);
                var newMonth = currentMonth + offset;

                if (newMonth < 1) {
                    newMonth = 12;
                    changeYear(-1);
                } else if (newMonth > 12) {
                    newMonth = 1;
                    changeYear(1);
                }

                monthSelect.value = newMonth;
                fetchMonthData();
            }

            
            // Update income data for selected row in display
            function updateIncome(incomeID) {
                // Get the data from the selected row
                let row = document.getElementById('income-row-' + incomeID);
                let unitID = row.cells[1].innerText;
                let incomeAmt = row.cells[2].innerText;
                let incomeDate = row.cells[3].innerText;
                let incomeMonth = row.cells[4].innerText;
                let incomeYear = row.cells[5].innerText;

                // Populate the form fields with the data
                document.getElementById('id_income_unit_id').value = unitID;
                document.getElementById('id_income_amt').value = incomeAmt;
                document.getElementById('id_income_date').value = incomeDate;
                document.getElementById('id_income_month').value = incomeMonth;
                document.getElementById('id_income_year').value = incomeYear;

                // Display the form for updating the income
                document.getElementById('update-income-display').style.display = 'block';

                let form = document.getElementById("update-income-form");
                let url = "/update_income/?income_id=" + incomeID;
                form.action = url;
            }

            // Update expense data for selected row in display
            function updateExpense(expenseID) {
                // Get the data from the selected row
                let row = document.getElementById('expense-row-' + expenseID);
                let unitID = row.cells[1].innerText;
                let expName = row.cells[2].innerText;
                let expAmt = row.cells[3].innerText;
                let expDate = row.cells[4].innerText;
                let expRct = row.cells[5].innerText;
                let expBldg = row.cells[6].innerText;

                // Populate the form fields with the data
                document.getElementById('id_exp_unit_id').value = unitID;
                document.getElementById('id_exp_name').value = expName;
                document.getElementById('id_exp_amt').value = expAmt;
                document.getElementById('id_exp_date').value = expDate;
                document.getElementById('id_exp_rct').value = expRct;
                document.getElementById('id_exp_bldg').value = expBldg;

                let form = document.getElementById("update-expense-form");

                // Display the form for updating expenses
                form.style.display = "block";
                
                // Set action url to update row when form's 'Submit' button is clicked
                let url = "/update_expense/?expense_id=" + expenseID;
                form.action = url;
            }

            // Delete Income Row
            function deleteIncome(income_id) {
            // Get the data from the selected row
            let row = document.getElementById('income-row-' + incomeID);
                let unitID = row.cells[1].innerText;
                let incomeAmt = row.cells[2].innerText;
                let incomeDate = row.cells[3].innerText;
                let incomeMonth = row.cells[4].innerText;
                let incomeYear = row.cells[5].innerText;

                // Populate the form fields with the data
                document.getElementById('id_income_unit_id').value = unitID;
                document.getElementById('id_income_amt').value = incomeAmt;
                document.getElementById('id_income_date').value = incomeDate;
                document.getElementById('id_income_month').value = incomeMonth;
                document.getElementById('id_income_year').value = incomeYear;

                // Display the form for delete the income
                document.getElementById('delete-income-display').style.display = 'block';

                let form = document.getElementById("delete-income-form");
                let url = "/delete_income/?income_id=" + incomeID;
                form.action = url;
            }

            // Delete Expense Row
            function deleteExpense(expense_id) {
            // Get the data from the selected row
            let row = document.getElementById('expense-row-' + expenseID);
                let unitID = row.cells[1].innerText;
                let expName = row.cells[2].innerText;
                let expAmt = row.cells[3].innerText;
                let expDate = row.cells[4].innerText;
                let expRct = row.cells[5].innerText;
                let expBldg = row.cells[6].innerText;

                // Populate the form fields with the data
                document.getElementById('id_exp_unit_id').value = unitID;
                document.getElementById('id_exp_name').value = expName;
                document.getElementById('id_exp_amt').value = expAmt;
                document.getElementById('id_exp_date').value = expDate;
                document.getElementById('id_exp_rct').value = expRct;
                document.getElementById('id_exp_bldg').value = expBldg;

                let form = document.getElementById("delete-expense-form");

                // Display the form for updating expenses
                form.style.display = "block";
                
                // Set action url to delete row when form's 'Delete' button is clicked
                let url = "/delete_expense/?delete_id=" + expenseID;
                form.action = url;
            }

        </script>
    </body>
</html>